# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries

# Executables
*.exe
*.out
*.app

Makefile
modeleur-bmesh
modeleur-bmesh.pro.user
moc_*
.qglviewer.xml

doc/doxygen_sqlite3.db
doc/html/

*.aux
*.log
*.nav
*.pdf
*.snm
*.syntex.gz
*.toc
